@model IEnumerable<LayerEntity.Entities.Hakkinda>

@{
    ViewData["Title"] = "AdminHakkindaListeleme";
    Layout = "~/Views/Shared/AdminSablon.cshtml";
}

<h1>AdminHakkindaListeleme</h1>

<p>
    <a asp-action="AdminHakkindaEkle">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HakkindaDetay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HakkindaDurum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaDetay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaDurum)
            </td>
            <td>
                <a asp-action="AdminHakkindaGuncelle" asp-route-id="@item.HakkindaID">Güncelle</a> |
                    <a asp-action="AdminHakkindaDetay" asp-route-id="@item.HakkindaID">Detay</a> |
                    <a asp-action="AdminHakkindaSil" asp-route-id="@item.HakkindaID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
